<!DOCTYPE html>
<html lang="en">

<head>
    <title>Race</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/main.css') }}">
    <!--===============================================================================================-->
</head>

<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div style="padding-bottom: 50px;">
                <input type="date" id="raceday" class="raceday" onchange="getDataFollowDate()">
            </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">STT</th>
                            <th class="cell100 column2">Race ID</th>
                            <th class="cell100 column3">Race Distance</th>
                            <th class="cell100 column4">Num Horses</th>
                            <th class="cell100 column5">Time Start</th>
                            <th class="cell100 column7">Predict</th>
                            <th class="cell100 column8">Status</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <img src="{{ url_for('static', path='/images/running-horse-GIF-unscreen.gif') }}"
                         style="display: block; margin-left: auto; margin-right: auto; width: 10%" id="imagehorse">
                    <table class="tabledata">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{{ url_for('static', path='/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', path='/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ url_for('static', path='/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', path='/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ url_for('static', path='/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });

    function showPredict(id) {
        window.open("predict?id=" + id, '_blank').focus();
    }

    // Example GET method implementation:
    async function getData(url = '') {
        // Default options are marked with *
        date = document.getElementById("raceday").value
        const response = await fetch(url + date, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            // body: {"data": JSON.stringify(data)} // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    function getStatus(date_start) {
        date_now = new Date();
        date_start = new Date(date_start);
        date_finish = new Date(date_start.getTime() + 2 * 60 * 60);
        if (date_start > date_now) {
            return 0;
        }
        if (date_finish < date_now) {
            return 2;
        }
        return 1;
    }

    function AddRow(item, index) {
        $(".tabledata tbody").append(
            row_data = `<tr class="row100 body">
							<td class="cell100 column1">${index}</td>
							<td class="cell100 column2">${item["raceID"]}</td>
							<td class="cell100 column3">${item["raceDistance"]}</td>
							<td class="cell100 column4">${item["numHorse"]}</td>
							<td class="cell100 column5">${item["timeStart"]}</td>
							<td class="cell100 column7"><a href="#" onclick="showPredict(${item["raceID"]})">Xem</a></td>
							<td class="cell100 column8">` + getStatus(`${item["timeStart"]}`) + `</td>
						</tr>`
        );
    }

    url = '/api/race/'

    function getDataFollowDate() {
        console.log("call api");
        $(".tabledata tbody").remove();
        document.getElementById("imagehorse").style.display = "block";
        $(".tabledata").append("<tbody class='tabledata'></tbody>")
        getData(url)
            .then(data => {
                try {
                    data["data"].forEach(AddRow);
                } catch (err) {
                    document.getElementById("imagehorse").style.display = "none";
                }
            })
            .then(function changeData() {
                document.getElementById("imagehorse").style.display = "none";
                var status = document.getElementsByClassName("cell100 column8");
                for (let index = 0; index < status.length; index++) {
                    const sta = status[index];
                    if (sta.textContent === "0") {
                        sta.textContent = "Opening";
                        sta.style.color = "green";
                    }
                    if (sta.textContent === "1") {
                        sta.textContent = "Playing";
                        sta.style.color = "#b0ab28";
                    }
                    if (sta.textContent === "2") {
                        sta.textContent = "Closed";
                        sta.style.color = "red";
                    }
                }
            });
    }

    document.getElementById('raceday').valueAsDate = new Date();
    getDataFollowDate();
</script>
<!--===============================================================================================-->
<script src="{{ url_for('static', path='/js/main.js') }}"></script>

</body>

</html>
